.array-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.array-element {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #6200ea;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: transform 0.5s, background-color 0.5s;
}
