.indCourses-page {
    background-color: #E8EAF6;
    width: 100%;
    height: 100%;
}

.indCourses-background {
    background-color: #E8EAF6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
}

.courses-container {
    width: 100%;
    max-width: 1200px; /* Maximális szélesség a nagyobb képernyők esetén */
    margin: 0 auto;
    padding: 20px;
}

.courses-container h1 {
    margin-bottom: 50px;
    text-align: center;
}

.custom-container {
    padding: 20px;
    width: 100%; /* 100%-os szélesség */
    max-width: 900px; /* Maximális szélesség */
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-container {
    margin: 20px 0;
    width: 100%;
}

.section-header {
    background-color: #6200ea;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.section-header:hover {
    background-color: #3700b3;
}

.section-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.lessons h4, .animations h4, .tests h4 {
    margin: 10px 0;
    color: #3f51b5;
}

@media (max-width: 768px) {
    .courses-container {
        width: 100%;
        padding: 15px;
    }

    .custom-container {
        max-width: 100%; /* A dobozok maximális szélessége 100% legyen kisebb képernyőn */
        margin: 0 10px; /* Margin kisebb képernyőkön */
    }

    .section-header {
        font-size: 16px; /* Kisebb betűméret a szekció címekhez */
    }
}

@media (max-width: 480px) {
    .courses-container {
        width: 100%;
        padding: 10px;
    }

    .custom-container {
        max-width: 100%; /* Teljes szélességre van állítva a kis képernyők esetén */
    }

    .section-header {
        font-size: 14px; /* Még kisebb betűméret nagyon kis képernyőkön */
    }
}
