.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.full-height-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.bg-dark {
    background-color: #343a40;
    color: #ffffff;
}

.form-control.bg-secondary {
    background-color: #6c757d;
    color: #ffffff;
}
