.array-containerSS {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.array-elementSS {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #6200ea;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border:2px solid black;
    transition: transform 0.5s, background-color 0.5s, top 0.5s;
    position: relative;
}

.array-elementSS.sorted {
    background-color: green; /* Zöld szín */
}

.array-elementSS.compare {
    background-color: yellow; /* Narancssárga szín az összehasonlításra */
}

.array-elementSS.pivot {
    background-color: #d90b31;
}

.array-elementSS.partition {
    background-color: #03a9f4;
}

.array-elementSS.key {
    background-color: #ffeb3b;
}

.array-elementSS.insert {
    background-color: #03a9f4;
}
.array-elementSS.merge {
    background-color: #9c27b0; /* Lila a merge szakaszra */
}

.array-elementSS.splitting {
    background-color: #f44336; /* Piros szín az elválasztásnál */
}